extends layout

block content
  h1 #{title}: #{participant.title}
  
  p #[strong Name:] 
    a(href=participant.name.url) #{participant.name}
  p #[strong Summary:] #{participant.summary}
  p #[strong ISBN:] #{participant.isbn}
  p #[strong School:]&nbsp;
    each val, index in participant.school
      a(href=val.url) #{val.name}
      if index < participant.school.length - 1
        |, 
  
 
    else
      p There are no copies of this participant in the library.
    hr
    p
     a(href=participant.url+'/delete') Delete Participant
    p
     a(href=participant.url+'/update') Update Participant