extends layout

block content
  
  h1= title
  
    div(style='margin-left:20px;margin-top:20px')
    
    h4 Rooms
  
      dl
    each room in room_list
    dt 
      a(href=room.url) #{room.RoomNumber}
    dd #{room.summary}


  
 
    else
      p This room does not exist.
    hr
    p
     a(href=room.url+'/delete') Delete Room
    p
     a(href=room.url+'/update') Update Room
